@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #000;
}

.banner {
  width: 75%;
  padding-left: 18em;
}

h1 {
  text-align: left;
  color: #fff;
  font-weight: 600;
  padding-left: 1em;
  padding-top: 1em;
}

p {
  text-align: left;
  margin: 0.5em 0;
  color: #fff;
}

a {
  text-decoration: none;
  text-align: left;
}

i {
  vertical-align: middle;
  text-align: left;
  margin: 0 45%;
  color: #fff;
  font-size: 3em;
}

i:hover {
  color: #b30000;
}
