@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-family: $helvetica;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $black;
}

.banner {
	  width: 90%;
	}

h1 {
  text-align: $left;
  color: $white;
  font-weight: 600;
  padding-left: 1em;
  padding-top: 1em;
}

p {
  text-align: $center;
  margin: 0.5em 0;
  color: $white;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  text-align: $center;
}

i {
  vertical-align: middle;
  text-align: $center;
  margin: 0 45%;
  color: $white;
  font-size: 4em;
  
  &:hover {
    color: $red; 
  }
}